/* src/components/ShareButtons.css */
.share-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.share-buttons-container p {
  margin-bottom: 10px;
  font-size: 16px;
}

.share-buttons {
  display: flex;
  gap: 50px; /* Ajustar el espaciado entre los íconos */
  justify-content: center; /* Centrar los íconos */
  align-items: center; /* Asegura que todos los íconos estén alineados en el centro */
}

.share-buttons div, .share-buttons button, .share-buttons .copy-link-button {
  background-color: transparent !important;
  color: black !important;
  border: none !important; /* Eliminar el borde */
  padding: 10px !important;
  cursor: pointer !important;
  outline: none !important; /* Asegura que no haya borde de enfoque */
  box-shadow: none !important; /* Elimina cualquier sombra */
  display: flex !important;
  align-items: center !important;
  margin: 0 !important; /* Asegura que no haya margen alrededor de los iconos */
}

/* Aplicar estilos específicos a los botones para eliminar cualquier borde o fondo */
.share-buttons button,
.share-buttons button:focus,
.share-buttons button:active {
  background: none !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.share-buttons div:hover, .share-buttons button:hover, .share-buttons .copy-link-button:hover {
  color: #0056b3 !important; /* Cambiar el color del icono al pasar el mouse */
}

.share-buttons svg {
  font-size: 20px;
}