/* src/components/ShareButtons.css */
.share-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.share-buttons-container p {
  margin-bottom: 10px;
  font-size: 16px;
}

.share-buttons {
  display: flex;
  gap: 50px; /* Ajustar el espaciado entre los íconos */
}

.share-buttons div, .share-buttons button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.share-buttons div:hover, .share-buttons button:hover {
  color: #0056b3;
}

.share-buttons svg {
  font-size: 20px;
}