/* Importa las fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@600;700&display=swap');

/* Directivas de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base personalizados que queremos mantener */
body {
  @apply bg-background text-text-main font-sans antialiased;
  /* `antialiased` suaviza las fuentes para una mejor lectura */
}

/* Estilos para el mapa de Leaflet que no se pueden aplicar fácilmente con Tailwind */
.leaflet-container {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 0.5rem; /* 8px */
}

.leaflet-control-zoom {
  transform: scale(0.9);
  transform-origin: top left;
}

/* Scrollbar personalizada para un look más moderno */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}