body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.header {
  background-color: #000;
  color: white;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ddd;
}

.main {
  text-align: center;
  padding: 20px;
}

.main-title {
  font-size: 36px;
  margin-bottom: 10px;
  color: #333;
}

.main-description {
  font-size: 18px;
  color: #555;
}

.map-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  height: 600px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  background: transparent;
}

.country-selector-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  text-align: left;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.country-selector {
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.country-selector h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.country-selector ul {
  list-style-type: none;
  padding: 0;
}

.country-selector li {
  margin: 5px 0;
}

.country-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 300px;
  overflow-y: auto;
  justify-content: space-between;
}

.country-list .MuiFormControlLabel-root {
  width: calc(33.33% - 20px);
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  padding: 10px;
}

footer {
  background-color: #f8f8f8;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-top: 20px;
}

.stats-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box; /* Asegura que padding y border estén incluidos en el ancho total */
}

.stats-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.stats-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan dentro del contenedor */
}

.stat-item {
  flex: 1;
  min-width: 200px; /* Asegura que los elementos tengan un tamaño mínimo */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 24px;
  margin-bottom: 5px;
}

.text-lg {
  font-size: 22px;
  font-weight: bold;
}

.visited-countries-list {
  flex: 1;
  max-width: 300px;
  text-align: left;
}

.visited-countries-list h3 {
  margin-bottom: 10px;
}

.visited-countries-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.visited-countries-list li {
  margin: 5px 0;
  padding: 2px 0;
  border-bottom: 1px solid #f0f0f0;
  font-size: 16px;
}

.about-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto 40px;
  text-align: center;
}

.about-container h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.about-container p {
  font-size: 18px;
  color: #333;
  margin-bottom: 30px;
  line-height: 1.6;
}

.about-container .links {
  margin-bottom: 20px;
}

.about-container .links a {
  display: inline-block;
  margin: 0 15px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  transition: color 0.3s;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

.about-container .links a:hover {
  color: #555;
  border-bottom: 2px solid #555;
}

.about-container .contact p {
  font-size: 18px;
  color: #333333;
  margin-bottom: 20px;
}

.email-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

.email-link:hover {
  color: #555;
  border-bottom: 2px solid #555;
}

.download-button {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.download-button:hover {
  background-color: #0056b3;
}

.map-header {
  text-align: center;
  margin-bottom: 10px;
}

.map-legend {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.map-legend span {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.map-legend i {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #000;
}

.temp-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.temp-container .legend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.temp-container .legend div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.temp-container .legend div div {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.temp-container .legend .visited {
  background-color: #00f;
}

.temp-container .legend .not-visited {
  background-color: #ccc;
}
.toggle-button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.toggle-button svg {
  margin-left: 8px; /* Espacio entre el texto y el icono */
}
.post-read-time {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}
